* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
                /* nav (optional) section start here */
  nav {
    background-color: #ea8d8d96;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-family: Lato;
  }
  .nav-logo img {
    width: 280px;
    height: auto;
    margin-top: 10px;
  }
  .nav h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-left: 10px;
    padding: 5px;
  }
  .nav-dialog{
    color: #E55473;
  }
  .color-word{
    color: dimgray;
  }
  .nav-links {
    list-style: none;
    display: flex;
  }
  .nav-links li {
    margin-right: 35px;
  }
  .nav-links a {
    text-decoration: none;
    color: #555;
    font-size: 18px;
  }
  .nav-links a:hover {
    color: #292828;
  }
                /* main banner section start */

.banner-container {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    width: 100%;
    height: 90vh;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.banner-content h1 {
    color: #272727;
    font-size: 70px;
    font-weight: 800;
}

.banner-image {
    width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.banner-image img {
    width: 100%;
}
.btn-shop button {
    padding: 15px 20px;
    border-radius: 8px;
    border: none;
    color: white;
    background: #E55473;
}
.banner-content p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
                        /* hot deal banner start */
.Hot-deal-container {
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 35px;
}
.Hot-deal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.Hot-deal-content p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.Hot-deal-content h2 {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.off-color {
    color: #E55473;
}
                /* insta banner style here */
.insta-container {
    width: 1920px;
    height: 4867px;
    color: white;
}
.insta-element {
    text-align: center;
    padding-top: 40px;
    margin-bottom: 35px;
}
.photo-gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.insta-element h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 5px;
    font-family: Lato;
}
.insta-element p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    font-family: Lato;
}
                /* latest deals banner styles */

.latest-deals-container {
    background-image: url(Images/Rectangle\ 9.png);
    padding: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
    height: 300px;
    margin-top: 25px;
    border: none;
    border-radius: 10px;
}
.latest-deal-element {
    text-align: center;
}
.latest-deal-element h3 {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    padding: 5px;
}

.latest-deal-element p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 5px;
}
.mail-subscribe-button {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.mail-box input {
    width: 100%;
    height: 45px;
    background-color: white;
    padding: 14px 20px;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
}
.btn-shop button {
    padding: 15px 20px;
    border-radius: 8px;
    border: none;
    color: white;
    background: #E55473;
}
                /* form start here (Bonus part)*/
.become-member-container{
    width: 50vh;
    margin-top: 25px;
    text-align: center;
    background-image: url(Images/Flower\ bg\ png.png);
    background-size: cover;
    padding: 10px;
    width: auto;
    height: fit-content;
    font-family: Lato;
}
.form-input{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    width: 100%;
    padding: 15px;
    align-items: center;
}
.become-members-element{
    text-align: center;
    font-size: xx-large;
    margin-top: 45px;
    
}
.form-input input{
    padding: 10px;
}
.txt-color{
    color:#E55473
}

/* footer section */
footer {
    width: 100%;
    padding: 100px;
    background-color: black;
    color: white;
    font-family: Lato;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: normal;
    gap: 15px;
    margin-top: 30px;
}

.flower {
    color: #E55473;
}
footer h2{
font-family: Lato;
font-size: 48px;
font-weight: 800;
}
footer p {
    color: rgba(255, 255, 255, 0.696);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}
